@import url('reset.css');
@import url('global.css');
@import url('link-footer-style.css');
@import url('erro-form.css');

.header-container {
    width: 380px;
    margin: 15px auto;
    padding: 0 15px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-alura-one {
    display: flex;
    align-items: center;
}

.logo-alura-one img {
    width: 30px;
    padding-right: 5px;
}

.logo-alura-one h1 {
    font-size: 14px;
    font-weight: bold;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: white;    
    cursor: pointer;
    padding: 18px;    
    border: none;
    outline: none;
    font-size: 15px;
    display: block;
}
  
  /* Style the collapsible content. Note: hidden by default */
.content-search {
    display: none;
    overflow: hidden;        
}

.content-search input {
    width: 200px;    
    font-size: 14px;
    padding: 10px;
    background: #F5F5F5;    
    background-image: url('../img/graysearch.png');
    background-size: 1.3em;
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    border-radius: 20px;
}

input:-internal-autofill-selected {
    background-color:rgb(232, 240, 254) !important;
}

.collapsible img {
    width: 20px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Raleway', sans-serif;
    opacity: 1; /* Firefox */
}
  
  .textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Raleway', sans-serif;
}
  
  .textarea::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Raleway', sans-serif;
}

.form-login {
    background-color: #F5F5F5;
    text-align: center;
}

.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 380px;
    margin: 0 auto;    
    padding: 100px 0 80px;
}    

.begin-session {    
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 16px;
    line-height: 19px;
}

.login div {
    width: 80%;
}

.login input {
    width: 100%;
    margin: 0 auto 20px;
    padding: 10px;
    border: 1px solid white;
    border-bottom: 1px solid #c4c4c4;
    border-radius: 4px;
    font-size: 16px;
    line-height: 20px;
}

.login button {
    padding: 12px 35px;
    gap: 10px;
    background: #2A7AE4;
    color: white;
    border: none;
    font-size: 14px;
    line-height: 16px;
}

@media screen and (min-width: 700px) {
    .header-container {
        width: 700px;                
    }

    .logo {
        justify-content: flex-start;
    }

    .logo-alura-one {
        margin-right: 20px;
    }
    
    .content-search input {
        width: 300px;   
        border: none;             
      }  
}

@media screen and (min-width: 1000px) {
    .content-search input {
        width: 450px;                
      }    

    .header-container {
        width: 1000px;
    }    
}