@import url('reset.css');
@import url('global.css');
@import url('link-footer-style.css');

.show {
    display: none;
}

.header-container {
    width: 380px;
    margin: 25px auto;
    padding: 0 10px;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-alura-one {
    display: flex;
    align-items: center;
}

.logo-alura-one img {
    width: 30px;
    padding-right: 5px;
}

.logo-alura-one h1 {
    font-size: 14px;
    font-weight: bold;
}

b {
    color:#2A7AE4;
}

.logo-login a {
    border: 1px solid #2A7AE4;;
    background-color: white;
    color: #2A7AE4;
    font-size: 14px;
    padding: 12px 50px;
    text-decoration: none;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible {
    background-color: white;    
    cursor: pointer;
    padding: 18px;    
    border: none;
    outline: none;
    font-size: 15px;
    display: block;
  }
  
  /* Style the collapsible content. Note: hidden by default */
  .content-search {
    display: none;
    overflow: hidden;    
  }

  .content-search input {
    width: 90px;
    font-size: 14px;
    padding: 8px;
    background: #F5F5F5;    
    background-image: url('../img/graysearch.png');
    background-size: 1.3em;
    background-repeat: no-repeat;
    background-position: right;
    border: none;
    border-radius: 20px;
  }

.collapsible img {
    width: 20px;
}

input::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Raleway', sans-serif;
    opacity: 1; /* Firefox */
  }
  
  .textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Raleway', sans-serif;
  }
  
  .textarea::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Raleway', sans-serif;
  }

.banner-container {    
    background-image: url('../img/hero.png');
    height: 23vh; 
    background-size: 100vw auto;
    background-position: center;
    background-repeat: no-repeat;  
    margin-bottom: 10px; 
}

.banner {    
    width: 380px;
    margin: 0 auto;
    position: relative;    
}

.promotional-banner {
    position: absolute;
    top: 55px;
    left: 15px;
}

.promotional-text {    
    color: white; 
    margin-bottom: 10px;  

}

.promotional-text h2 {
    padding-bottom: 5px;
    font-weight: 700;
    font-size: 22px;
}

.promotional-text p {
    font-size: 14px;
}

.promotional-banner button {    
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    background-color: #2A7AE4;
    padding: 12px 16px;
}

.container {
    width: 380px;
    margin: 0 auto;       
}

.container-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 10px 15px 10px;
}

.container-title h3 {
    font-size: 22px;
    line-height: 26px;    
    font-weight: bold;
}

.container-title button {
    color: #2A7AE4;
    font-size: 14px;
    font-weight: bold;    
    background-color: white;
    border: none;
}

.container-title button img {
    width: 10px;
}

.product {
    display: grid;
    grid-template-columns: auto auto;
    margin-bottom: 20px;
}

.product li {
    margin: 0 auto 15px;
}

.product img {    
    padding-bottom: 5px;
}

.description {
    font-size: 14px;
    padding-bottom: 8px;
}

.price {
    padding-bottom: 7px;
    font-weight: bold;
}

.product a {
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    color: #2A7AE4;
}

@media screen and (min-width: 700px) {
    .header-container {
        width: 700px;                
    }
    
    .content-search input {
        width: 300px;                
      }


    .banner-container {
        height: 35vh;
        margin-bottom: 30px;
    }

    .banner {    
        width: 700px;            
    }
    
    .promotional-banner {
        top: 125px;
        left: 0;        
    }
    
    .promotional-text {    
        margin-bottom: 15px;      
    }
    
    .promotional-text h2 {
        padding-bottom: 20px;        
        font-size: 52px;
    }
    
    .promotional-text p {
        font-size: 22px;
    }
    
    .container {
        width: 700px;       
        margin: 0 auto 40px; 
    }
    
    .container-title {        
        margin: 0 0 20px;
    }
    
    .container-title a {        
        font-size: 16px;
    }
    
    .container-title a img {
        width: 10px;
    }
    
    .product {
        grid-template-columns: 1fr 1fr 1fr 1fr;        
        margin: 0 0 40px;
    }
    
    .product li {
        margin: 0 0 20px;
    }

    .product li img {
        width: 160px;
    }
        
    .product a {
        font-size: 16px;   
    }
  
}

@media screen and (min-width: 1000px) {
    .content-search input {
        width: 300px;                
      }    

    .show {
        display: block;
    }

    .header-container {
        width: 1000px;
    }

    .banner {
        width: 1000px;
    }

    .promotional-banner {
        top: 135px;
    }

    .container {
        width: 1000px;
    }    

    .product {
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;                
    }
}