/* Link, form and footer style*/
.link-form-background {
    background-color: #EAF2FD;
    padding: 20px 0;
}

.link-form-container {
    width: 380px;
    margin: 0 auto;
}

.logo-alura-two {
    display: flex;
    justify-content: center;
    align-items: center;    
    padding-bottom: 20px;
}

.logo-alura-two img {
    width: 40px;
    padding-right: 3px;
 }

.logo-alura-two h1 {
    font-size: 18px;
    font-weight: bold;
}

.links-list li {
    text-align: center;
    padding-bottom: 20px;
}

.links-list a {
    text-decoration: none;    
}

.form-container {
    background-color: #EAF2FD;     
}

.form-message {        
    margin: 0 15px;
}

.form-message p {
    font-size: 16px;
    font-weight: bold;
    padding-bottom: 5px;
}

.form-group {
    position: relative;
    margin-bottom: 15px;
}

.form-control { 
    border: 1px solid white;   
    border-bottom: 1px solid #c4c4c4;
    border-radius: 4px;
    width: 100%;
    padding: 30px 0 10px 10px;
    font-size: 16px;
  }
  
  .form-control-label {
    position: absolute;    
    top: 10px;
    left: 14px;    
    border: none;
    font-size: 12px;
    color: #A2A2A2;
    text-transform: capitalize;    
  }

  textarea {
    border: 1px solid white;   
    border-bottom: 1px solid #c4c4c4;
    border-radius: 4px;
    width: 100%;
    height: 100px;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 10px;
  }

  textarea::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    font-family: 'Raleway', sans-serif;
    opacity: 1; /* Firefox */
  }
  
  .textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    font-family: 'Raleway', sans-serif;
  }
  
  .textarea::-ms-input-placeholder { /* Microsoft Edge */
    font-family: 'Raleway', sans-serif;
  }

.form-button {
    font-size: 14px;
    color: #FFFFFF;
    border: none;
    background-color: #2A7AE4;
    padding: 12px 16px;    
}

footer {
    width: 380px;
    margin: 30px auto;
    font-size: 16px;
    line-height: 19px;
    text-align: center;    
}

@media screen and (min-width: 700px) {
    .link-form-background {    
        padding: 30px 0;
    }

    .link-form-container {
          display: grid;
          grid-template-columns: 1fr 2fr;
          width: 700px;           
    }

    .logo-alura-two {       
        justify-content: initial;
    }

    .logo-alura-two h1 {
        font-size: 25px;
    }
    
    .links-list li {
        text-align: initial;        
    }
    
    .form-message p {        
        padding-bottom: 10px;
    }
}

@media screen and (min-width: 1000px) {
    .link-form-container {        
        grid-template-columns: 1fr 1fr;
        width: 1000px;
    }

    .link-form-background {
        padding: 50px 0;
    }

    .links-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        justify-content: space-between;
        align-items: flex-start;
    }   
}