* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #fae3d9;    
}

.resume-contents {
    min-height: 100vh;
    width: 80%;
    margin: 2rem auto;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.left-section {
    grid-column: span 2;
    height: 100%;
    background-color: #7fbbc5;
}

.right-section {
    grid-column: span 5;
    height: 100%;
    background-color: #bbded7;
    border-radius: 0px 60px 0px 0px;
}

.left-section-contents{
    padding: 2rem 2rem;
}

.profile {
    width: 100%;
    border-bottom: 2px solid #1B2631;
}

.profile .profile-image {
    width: 100%;
    border-radius: 50%;
    border: 8px solid #1B2631;
}

.name {
    color: #D6DBDF;
    font-size: 30px;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    padding: 1rem 0;
}

.profession {
    color: #feb6b8;
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: bold;
    padding-bottom: 1rem;
}

/* .contact-info { border-bottom: 2px solid #1B2631; } */
.left-title {
    color: #feb6b8;
    font-size: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 3rem 0 0 1rem;
}

.contact-info ul {
    padding-top: 1.5rem;    
}

.contact-info ul li, .skills ul li{
    padding: .4rem 0;    
    color: #ebf3faaf;
    letter-spacing: 1px;
    font-size: 18px;   
}

.contact-info ul li i {
    padding-right: 1rem;
    font-size: 18px;
    color: #2E86C1;
}

.skills {
    margin-bottom: 10px;
}

.skills ul {
    padding-top: 1.5rem;    
}

.skills ul li p {        
    text-transform: uppercase;
    margin-left: 15px;   
}

.referance-name {
    padding-top: 1.5rem;
    padding-bottom: .4rem;
    font-size: 18px;
    color: #F9E79F;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.referance-profession {
    font-size: 16px;
    color: #d6dbdfaf;
    letter-spacing: 1px;   
    padding-bottom: .4rem;
}


.right-section-contents {
    padding: 2rem 2rem;
}

.right-title {
    color: #e6b29d;
    font-size: 40px;
    letter-spacing: 2px;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    padding: 2rem 0;
    position: relative;
}

.gap {
    padding-bottom: 2rem;
}
.about-me-contents {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2rem;
    color: #F1F8FD;
}

.experience-contents,
.education-contents,
.awards-contents {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-bottom: 2rem;
    color: #F1F8FD;
}

.exp-company-name,
.education-school-name,
.awards-company-name {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #ff999c;
    padding-bottom: .4rem;
}

.exp-time-period,
.educationp-time-period,
.awards-time-period {
    font-size: 18px;
    letter-spacing: 1px;
    line-height: 2rem;
    color: rgb(253, 114, 114);
}

.exp-position,
.education-subject,
.awards-name {
    font-size: 25px;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #feb6b8;
    padding-bottom: .4rem;
}

.exp-desc,
.education-desc,
.awards-desc {
    font-size: 16px;
    letter-spacing: 1px;
    line-height: 1.5rem;
    border-left: 3px solid #a5a3a3;
    padding-left: 5px;
    color: rgb(253, 114, 114);
}

/* Media queries */
@media screen and (max-width:780px) {
    .experience-contents,
    .education-contents,
    .awards-contents {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:780px) {
    .left-section {
        grid-column: span 3;
    }
    
    .right-section {
        grid-column: span 4;
    }
    
}

@media screen and (max-width:1200px) {
    .resume-contents {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:390px) {
    .resume-contents {
        width: 100%;
        margin: 0 auto;
    }

    .name {
        font-size: 20px;
    }

    .profession {
        font-size: 18px;
    }

    .left-title {
        font-size: 18px;
    }

    .right-title {
        font-size: 18px;
    }

    .contact-info ul li,
    .references ul li {
        font-size: 12px;
    }

    .contact-info ul li i,
    .references ul li i {
        /* padding-right: 1rem; */
        font-size: 12px;
    }

    .skills ul li p {
        font-size: 12px;
    }

    .about-me-contents {
        font-size: 16px;
        line-height: 1.5rem;
    }

    .exp-company-name,
    .education-school-name,
    .awards-company-name {
        font-size: 18px;
    }

    .exp-time-period,
    .educationp-time-period,
    .awards-time-period {
        font-size: 16px;
    }

    .exp-position,
    .education-subject,
    .awards-name {
        font-size: 18px;
    }
}